.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3a09d;
    width: 50%;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* padding: 2%; */
}

.item img {
    height: 5em;
}

.header {
    font-family: 'Tajawal', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 300%;
}

.item:nth-child(odd) {
    background-color: #f3a09d;
}

.item:nth-child(even) {
    background-color: #f3b39c;
}